///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before{
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}
/*------------------------------------------------------------
margin
------------------------------------------------------------*/
.u-ml37{margin-left: 37px !important;}

/*------------------------------------------------------------
line-height
------------------------------------------------------------*/
.u-lh19{line-height: 19px !important;}
.u-lh20{line-height: 20px !important;}
.u-lh21{line-height: 21px !important;}

/*------------------------------------------------------------
color
------------------------------------------------------------*/
.u-c1{color: #ff1e5b;}

/*------------------------------------------------------------
font-size
------------------------------------------------------------*/
.u-fz13{
    font-size: 1.3rem;
    @include sp{
        font-size: 1rem;
    }
}
.u-fz15{font-size: 1.5rem;}
.u-fz21{font-size: 2.1rem;}
.u-fz32{
    font-size: 3.2rem;
    @include sp{
        font-size: 1.6rem;
    }
}

/*------------------------------------------------------------
font-weight
------------------------------------------------------------*/
.u-bold{font-weight: bold !important;}

/*------------------------------------------------------------
left
------------------------------------------------------------*/
.u-l-9{left: -9px !important;}
.u-l-4{left: -4px !important;}
.u-l-1{left: -1px !important;}
.u-l7{left: 7px !important;}
.u-l4{left: 4px !important;}