/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer{
    background: #33c49d;
    color: #fff;
    font-size: 1.5rem;
    padding: 50px 0 29px;
    @include sp{
        font-size: 1.2rem;
        padding: 30px 0 23px;
    }
    a{
        text-decoration: none;
        display: block;
    }
    &__contact{
        margin: 27px 0;
        padding-left: 5px;
        @include sp{
            margin: 21px 0 0;
            padding: 0 20px;
            letter-spacing: -1px;
            line-height: 1.6rem;
        }
    }
    &__sub{
        font-size: 1.2rem;
        color: #fff;
        background: #3c3c3c;
        padding: 12px 0;
        @include sp{
            padding: 8px 0;
            font-size: 1rem;
        }
    }
}
/*
------------------------------------------------------------*/
