/*------------------------------------------------------------
index
------------------------------------------------------------*/
body{
    min-width: 1440px;
    width: 1920px;
    margin: 0 auto;
    text-align: center;
    @include sp{
        min-width: 320px;
        width: 100%;
    }
}
img{
    max-width: 100%;
}
/*
------------------------------------------------------------*/
.p-golf1{
    background: url(../image/bg2-pc.jpg) no-repeat top center/cover;
    position: relative;
    padding: 101px 0 0;
    margin-bottom: 121px;
    @include sp{
        padding: 138px 0 1px;
        background: url(../image/bg2-sp.jpg) no-repeat top center/cover;
        margin: 0 0 50px;
    }
}
/*
------------------------------------------------------------*/
.p-golf2{
    width: 1440px;
    margin: 0 auto 201px;
    @include sp{
        margin: 0 auto 60px;
        width: 100%;
    }
    .c-title1{
        margin: 0 0 50px -1px;
        @include sp{
            margin: -1px 0 30px -1px;
        }
    }
    .c-table1{
        margin-bottom: 33px;
        @include sp{
            margin-bottom: 24px;
        }
    }
    .c-table2{
        margin-bottom: 19px;
        @include sp{
            margin-bottom: 15px;
        }
    }
}
/*
------------------------------------------------------------*/
.p-golf3{
    background: url(../image/bg3-pc.jpg) no-repeat top center;
    color: #fff;
    text-align: center;
    position: relative;
    margin-bottom: 119px;
    @include sp{
        background: url(../image/bg3-sp.jpg) no-repeat top center;
        background-size: cover;
        margin: 0;
    }
}
/*
------------------------------------------------------------*/
.p-golf4{
    margin-bottom: 120px;
    @include sp{
        margin-bottom: 50px;
    }
    .c-title1{
        margin: 0 0 51px 2px;
        @include sp{
            margin: 0 0 24px -4px;
        }
    }
}
/*
------------------------------------------------------------*/
.p-golf5{
    margin-bottom: 109px;   
    @include sp{
        margin-bottom: 33px;
    }
    .c-title1{
        margin: 0 0 51px 2px;
        @include sp{
            margin: 0 0 24px -4px;
        }
    }
    .c-list2{
        @include sp{
            width: 100%;
            flex-wrap: wrap;
            padding: 0 19px;
            &__item{
                margin: 0 10px 10px 0;
                &:nth-child(2n){
                    margin: 0;
                }
                span{
                    font-size: 0.9rem;
                }
            }
        }
    }
}
/*
------------------------------------------------------------*/
.p-golf6{
    margin-bottom: 100px;
    @include sp{
        margin-bottom: 40px;
    }
}
/*
------------------------------------------------------------*/
.p-golf7{
    padding: 98px 0 95px;
    background: #eee;
    @include sp{
        padding: 39px 0 34px
    }
}