/*------------------------------------------------------------
btn
------------------------------------------------------------*/
.c-btn1{
    text-align: center;
    padding-bottom: 129px;
    @include sp{
        padding: 0 0 50px;
    }
    a{
        display: inline-block;
        background: #ff1e5b;
        color: #fff;
        text-decoration: none;
        padding: 25px 55px 25px;
        font-size: 1.8rem;
        letter-spacing: 1px;
        border-radius: 40px;
        @include sp{
            padding: 14px 32px 12px;
            font-size: 1.2rem;
            letter-spacing: 0px;
        }
        img{
            margin: 6px 21px 0 6px;
            @include sp{
                margin: 0;
                position: relative;
                left: -6px;
                top: 2px;
            }
        }
    }
}
/*
------------------------------------------------------------*/