/*------------------------------------------------------------
text
------------------------------------------------------------*/
.c-text1{
    color: #fff;
    background: #33c49d;
    display: inline-block;
    margin: 0 6px 0 0;
    width: 248px;
    padding: 4px 17px;
    font-weight: bold;
    @include sp{
        display: block;
        font-size: 1.3rem;
        padding: 5px 0 6px 0;
        margin: 0 0 8px;
        width: 100%;
    }
}
/*
------------------------------------------------------------*/
.c-text2{
    color: #fff;
    background: #0080ae;
    display: inline-block;
    margin: 0 9px 0 15px;
    width: 96px;
    padding: 3.5px 17px;
    font-weight: bold;
    @include sp{
        display: block;
        font-size: 1.3rem;
        padding: 5px 0 6px 0;
        margin: 0 0 8px;
        width: 100%;
    }
}