/*------------------------------------------------------------
navi
------------------------------------------------------------*/
.c-navi1{
    ul{
        text-align: right;
        margin-right: 57px;
        letter-spacing: 1px;
    }
    li{
        display: inline-block;
        margin-left: 38px;
    }
    a{
        text-decoration: none;
        color: #3c3c3c;
        font-size: 1.8rem;
        display: block;
        padding: 35px 0 35px 0;
        img{
            position: relative;
            left: -3px;
            top: 10px;
        }
    }
}
/*
------------------------------------------------------------*/
