/*------------------------------------------------------------
list
------------------------------------------------------------*/
.c-list1{
    display: flex;
    width: 1440px;
    margin: 0 auto 40px;
    @include sp{display: none;}
    &__item{
        width: 460px;
        position: relative;
        z-index: 2;
        text-align: center;
        margin-right: 30px;
        background: #fff;
        outline: 1px solid #c8c8c8;
        outline-offset: -11px;
        &--bg1{background: #f39800;}
        &--bsd1{box-shadow: 0 0 40px 3px #ccc;}
        &--ol1{outline: 1px solid #fff;}
        &:first-child{
            .c-list1__text1{
                margin: 84px 0 60px -2px;
            }
            .c-list1__text2{
                margin-bottom: 52px;
            }
            .c-list1__text3{
                margin-bottom: 49px;
            }
        }
        &:nth-child(2){
            .c-list1__text1{
                margin: 65px 0 42px 5px;
            }
            .c-list1__text2{
                left: -1px;
                margin: 0 0 34px;
            }
            .c-list1__text3{
                position: relative;
                left: 1px;
            }
        }
        &:last-child{
            margin: 0;
            .c-list1__text1{
                margin: 65px 0 42px;
            }
            .c-list1__text2{
                left: 1px;
                margin: 0 0 66px;
            }
            .c-list1__text3{
                margin: 0 0 0 -4px;
            }
        }
    }
    &__no{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -42px;
    }
    &__text2{
        position: relative;
        z-index: 2;
    }
    &__box{
        position: absolute;
        background: repeating-linear-gradient( -45deg, #1c2d36, #1c2d36 10px, #10222b 10px, #10222b 21px);
        width: 480px;
        height: 50px;
        top: 158px;
        left: -10px;
        &:before{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-top: 10px solid #5f94af;
            border-right: 10px solid transparent;
            top: 100%;
            right: 0;
        }
        &:after{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-top: 10px solid #5f94af;
            border-left: 10px solid transparent;
            top: 100%;
            left: 0;
        }
    }
    &__star{
        position: absolute;
        &--1{
            top: 71px;
            left: 24px;
        }
        &--2{
            top: 51px;
            left: 52px;
        }
        &--3{
            top: 53px;
            right: 45px;
        }
        &--4{
            top: 86px;
            right: 32px;
        }
    }
}
/*
------------------------------------------------------------*/
.c-list2{
    display: flex;
    width: 1440px;
    margin: 0 auto;
    &__item{
        position: relative;
        margin-right: 20px;
        &:last-child{
            margin: 0;
        }
        span{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 1.8rem;
            color: #ff0000;
        }
    }
}
/*
------------------------------------------------------------*/
.c-list3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 23px;
    &__item{
        img{position: relative;}
        &:first-child{margin-bottom: 7px;}
        &:first-child img{left: -1px;}
        &:nth-child(2) img{left: 1px;}
        &:last-child img{left: -2px;}
    }
}