/*------------------------------------------------------------
table
------------------------------------------------------------*/
.c-table1{
    &__title{
        text-align: center;
        font-size: 2rem;
        color: #fff;
        background: #10222b;
        padding: 10px 0 11px 3px;
        letter-spacing: 1px;
        @include sp{
            padding: 11px 0 10px 0;
            font-size: 1.6rem;
            letter-spacing: 0;
        }
    }
    &__inner{
        display: flex;
        justify-content: space-around;
        border: 1px solid #c8c8c8;
        border-top: 0;
        padding: 31px 147px 30px 145px;
        @include sp{
            border: 0;
            padding: 0;
            margin: 20px 0 0;
        }
    }
    &__item{
        li{
            display: inline-block;
            &:first-child{
                font-size: 2.1rem;
                background: linear-gradient(80deg, #51d2a0 0%, #2bbdbd 51%, #08abd8 75%);
                color: #fff;
                font-weight: bold;
                letter-spacing: 1px;
                padding: 15px 15px 14px 26px;
                position: relative;
                margin: 0 24px 0 0;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                @include sp{
                    font-size: 1.3rem;
                    padding: 5px 0;
                    width: 137.5px;
                    border-radius: 0;
                    margin: 0 0 12px;
                    position: relative;
                    left: 4px;
                }
            }
            &:first-child:after{
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 30px 0 30px 20px;
                border-color: transparent transparent transparent #08abd8;
                position: absolute;
                top: 0;
                right: -19px;
                @include sp{
                    content: none;
                }
            }
            &:nth-child(2){
                margin: 0 6px 0 0;
                @include sp{
                    margin: 0;
                }
                img{
                    position: relative;
                    top: -2px;
                    @include sp{
                        width: calc(189px/2);
                        margin-bottom: 11px;
                    }
                }
            }
            &:last-child{
                img{
                    position: relative;
                    top: -5px;
                    @include sp{
                        width: calc(173px/2);
                    }
                }
            }
            img{
                vertical-align: middle;
            }
        }
        &:last-child{
            li{
                &:first-child{
                    padding: 15px 26px 14px 37px;
                    margin: 0 26px 0 0;
                    @include sp{
                        font-size: 1.3rem;
                        padding: 5px 0;
                        width: 137.5px;
                        border-radius: 0;
                        margin: 0 0 12px;
                        position: relative;
                        left: -4px;
                    }
                }
                &:last-child{
                    img{
                        left: 2px;
                    }
                }
            }
        }
    }
}
/*
------------------------------------------------------------*/
.c-table2{
    &__title{
        text-align: center;
        font-size: 2rem;
        color: #fff;
        background: #10222b;
        padding: 11px 0 9px 1px;
        @include sp{
            font-size: 1.6rem;
            padding: 10px 0;
        }
    }
    table{
        border-collapse: collapse;
        font-size: 1.5rem;
        border: 1px solid #ddd;
        border-top: 0;
    }
    th{
        text-align: center;
        width: 284px;
        background: #ddd;
        padding: 17px 0 18px;
        &:first-child{
            width: 263px;
        }
        &:nth-child(2){
            width: 325px;
        }
        &:nth-child(3){
            width: 285px;
        }
    }
    td{
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        text-align: center;
        padding: 16px 0 17px;
        &:first-child{font-weight: bold;}
        &:first-child,
        &:nth-child(2){
            text-align: left;
        }
        &:last-child,
        &:first-child{
            border-right: 0;
            padding-left: 29px;
        }
        &:last-child{
            padding: 0;
        }
        &:nth-child(3),
        &:nth-child(4){
            font-weight: bold;
        }
    }
    tr{
        &:nth-child(even){
            background: #f8f8f8;
        }
        &:last-child{
            border: 0;
        }
    }
}
/*
------------------------------------------------------------*/