/*------------------------------------------------------------
line
------------------------------------------------------------*/
.c-line1{
    position: relative;
    &:after{
        content: "";
        position: absolute;
        width: 94%;
        height: 1px;
        background: #f7859a;
        top: 50%;
        left: 5px;
        transform: rotate(-7deg) translateY(-50%);
    }
}
/*
------------------------------------------------------------*/
