/*------------------------------------------------------------
other
------------------------------------------------------------*/
.c-banner{
    background: url("../image/bg1-pc.png") no-repeat;
    background-size: cover;
    height: 800px;
    position: relative;
    @include sp{
        background: url("../image/bg1-sp.png") no-repeat;
        background-size: cover;
        height: auto;
    }
    &__bn1{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 128px;
        @include sp{
            position: initial;
            transform: none;
            margin-bottom: 207.5px;
        }
    }
    &__bn2{padding: 0 20px 50px;}
}
/*
------------------------------------------------------------*/
.c-campaign{
    position: absolute;
    top: -299px;
    z-index: 1;
    @include sp{
        top: -20px;
    }
}
/*
------------------------------------------------------------*/
.c-promo{
    font-size: 1.5rem;
    text-align: left;
    display: block;
    @include sp{
        text-align: center;
        font-size: 1.2rem;
        padding: 0 25px 0 15px;
    }
    p{
        display: inline-block;
        @include sp{
            display: block;
            padding: 0 25px;
        }
    }
}
/*
------------------------------------------------------------*/
.c-order{
    padding: 91px 0 57px;
    @include sp{
        padding: 0 0 64px;
    }
    &__title{
        font-size: 4.8rem;
        letter-spacing: 1.1px;
        margin-bottom: 40px;
        @include sp{
            font-size: 2.8rem;
            margin: 0;
            letter-spacing: 1px;
        }
        img{
            vertical-align: text-top;
            margin-left: 72px;
            @include sp{
                margin: 0;
                vertical-align: middle;
            }
        }
    }
    &__subtitle{
        font-size: 1.8rem;
        padding-left: 73px;
        margin-bottom: 24px;
        @include sp{
            font-size: 1.2rem;
            padding: 0 40px;
            margin: 15px 0 21px 5px;
        }
    }
    &__btn{
        ul{
            width: 882px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            @include sp{
                width: 100%;
                flex-wrap: wrap;
                padding: 0 20px;
            }
        }
        li{
            width: 420px;
            @include sp{width: 100%;}
            img{position: relative;}
            &:first-child{
                a{
                    padding: 29px 0 28px 13px;
                    font-weight: bold;
                    @include sp{
                        padding: 13px 0;
                        margin: 0 0 10px;
                    }
                }
                img{
                    top: 5px;
                    left: -7px;
                    @include sp{
                        width: calc(23px/2);
                        left: 1px;
                    }
                }
            }
            &:last-child{
                a{
                    padding: 18px 0 23px;
                    margin: 0 0 10px;
                    font-weight: bold;
                    @include sp{
                        padding: 5px 0 0;
                        margin: 0 0 8px;
                    }
                }
                img{
                    top: 4px;
                    left: -1px;
                    @include sp{
                        width: calc(227px/2);
                        left: 1px;
                        top: 1px;
                    }
                }
            }
        }
        a{
            text-decoration: none;
            color: #fff;
            display: block;
            border: 1px solid;
            border-radius: 50px;
            background: rgba(0, 0, 0, 0.2);
            letter-spacing: 1px;
            @include sp{
                font-size: 1.4rem;
            }
        }
    }
    &__imgTOP{
        position: absolute;
        top: -70px;
        right: 0;
        @include sp{
            top: -20px;
            position: initial;
        }
    }
    &__imgBOT{
        position: absolute;
        bottom: -138px;
        left: 0;
        @include sp{
            bottom: -20px;
            position: initial;
            margin-bottom: 60px;
        }
    }
    p{
        letter-spacing: 1.5px;
        padding: 0 0 15px 62px;
        @include sp{
            padding: 45px 0 11px 0;
            letter-spacing: .5px;
            margin-left: -4px;
        }
    }
}
/*
------------------------------------------------------------*/
.c-instructor{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 30px 31px 29px 31px;
    @include sp{
        width: 280px;
        padding: 15px 15px 0 13px;
        flex-wrap: wrap;
        justify-content: center;
        border-left-color: #fff;
        border-right-color: #fff;
    }
    img{
        height: 204px;
        @include sp{
            height: 100%;
        }
    }
    &__content{
        text-align: left;
        margin-left: 26px;
        font-size: 1.5rem;
        @include sp{
            margin: 0 0 15px;
            font-size: 1.2rem;
        }
    }
    &__title{
        font-size: 1.8rem;
        padding: 6px 2px 9px;
        font-weight: bold;
        @include sp{
            text-align: center;
            font-size: 1.6rem;
            padding: 8px 0 6px;
        }
    }
    &__text1{
        margin-bottom: 13px;
        line-height: 23px;
        @include sp{
            line-height: 16px;
            letter-spacing: .5px;
            margin-bottom: 29px;
        }
    }
    ul{
        background: #eee;
        padding: 25px 0 16px 50px;
        margin-left: 3px;
        line-height: 29px;
        margin-right: -1px;
        @include sp{
            margin: 0;
            line-height: 1.7rem;
            padding: 12px 24px 9px;
        }
    }
    li{
        position: relative;
        @include sp{margin-bottom: 3px;}
        &:before{
            content: "";
            background: #33c49d;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            position: absolute;
            top: 11px;
            left: -20px;
            @include sp{
                width: 4px;
                height: 4px;
                top: 8px;
                left: -8px;
            }
        }
    }
}
/*
------------------------------------------------------------*/
.c-contact{
    &__title{
        font-size: 5.6rem;
        text-align: left;
        padding-left: 234px;
        letter-spacing: 3px;
        margin-bottom: 43px;
        @include sp{
            padding: 0;
            font-size: 2.8rem;
            text-align: center;
            letter-spacing: 1.5px;
            margin-bottom: 13px;
        }
    }
    &__inner{
        position: relative;
        @include sp{
            padding: 0 20px;
        }
    }
    &__map{
        width: 1100px;
        height: 480px;
        @include sp{
            width: 100%;
            height: 240px;
        }
    }
    &__box{
        position: absolute;
        top: -97px;
        right: 0;
        width: 780px;
        height: 416px;
        background: #10222b;
        padding: 92px 62px 0;
        font-weight: bold;
        @include sp{
            position: initial;
            width: 100%;
            height: auto;
            padding: 24px 15px 27px;
        }
    }
    &__bg{
        position: absolute;
        top: -16px;
        right: 81px;
        z-index: -1;
    }
    &__item1{
        display: flex;
        text-align: left;
        color: #fff;
        border-bottom: 1px solid #636f75;
        margin-right: 177px;
        padding: 0 0 5px;
        position: relative;
        @include sp{
            margin: 0 0 9px;
            flex-wrap: wrap;
            font-size: 1.4rem;
            justify-content: center;
            text-align: center;
            padding: 0 0 12px;
        }
        img{position: absolute;}
        p:first-child{
            margin: 0 82px 0 23px;
            @include sp{
                margin: 0 0 5px;
                width: 100%;
            }
        }
        p:nth-child(2){
            @include sp{
                font-size: 1.2rem;
                line-height: 1.5rem;
                font-weight: normal;
            }
        }
        &:first-child{
            img{
                top: 4px;
                left: 1px;
            }
        }
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4){
            @include sp{padding: 0 0 12px !important;}
        }

        &:nth-child(2){
            padding: 10px 0 7px;
            p:first-child{
                margin: 0 99px 0 22px;
                @include sp{
                    margin: 0 0 5px;
                    width: 100%;
                }
            }
            img{top: 14px;}
        }
        &:nth-child(3){
            padding: 10px 0 4px;
            p:first-child{
                margin: 0 23px 0 21px;
                @include sp{
                    margin: 0 0 5px;
                    width: 100%;
                }
            }
            img{top: 13px;}
        }
        &:nth-child(4){
            padding: 10px 0 7px;
            p:first-child{
                margin: 0 116px 0 20px;
                @include sp{
                    margin: 0 0 5px;
                    width: 100%;
                }
            }
            img{
                top: 13px;
                left: -2px;
            }
        }
        &:last-child{
            padding: 10px 0 4px;
            border: 0;
            @include sp{
                padding: 0;
                margin: 0;
            }
            p:first-child{
                margin: 0 114px 0 21px;
                @include sp{
                    margin: 0 0 5px;
                    width: 100%;
                }
            }
            img{
                top: 14px;
                left: -2px;
            }
        }
    }
}
/*
------------------------------------------------------------*/
.c-information{
    &__title{
        font-size: 3.2rem;
        margin-bottom: 43px;
        @include sp{
            margin: 0 0 16px;
            font-size: 1.6rem;
        }
        p{
            margin-top: 7px;
            @include sp{
                margin-top: 5px;
            }
        }
    }
    &__content{
        font-size: 1.5rem;
        padding-left: 7px;
        letter-spacing: .2px;
        @include sp{
            font-size: 1.2rem;
            padding: 0 10px;
            letter-spacing: 0;
            line-height: 2rem;
        }
    }
}
/*
------------------------------------------------------------*/
.c-scroll{
    cursor: pointer;
    position: fixed;
    bottom: 109px;
    right: 60px;
    z-index: 999;
    @include sp{
        bottom: 52px;
        right: 15px;
        img{
            width: 50px;
        }
    }
}
/*
------------------------------------------------------------*/
.c-box{
    border-top: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    &:last-child{
        border-bottom: 1px solid #c8c8c8;
        .c-box__title{padding: 14px 20px 18px 14px;}
    }
    &.active{
        border: 0 !important;
        .c-box__title:before{
            transform: translateY(-50%) rotate(1.5turn);
            opacity: 0;
        }
        .c-box__title{
            border: 1px solid #c8c8c8;
            padding: 16px 20px 16px 14px;
        }
        .c-box__inner{display: block;}
    }
    &:nth-last-child(2){
        .c-box__title{
            padding: 14px 20px 14px 14px;
        }
    }
    &__inner{
        display: none;
        margin: 14px 0;
        @include sp{
            margin: 14px 15px;
        }
    }
    &__title{
        font-size: 1.8rem;
        font-weight: bold;
        text-align: left;
        padding: 14px 20px 16px 14px;
        position: relative;
        display: flex;
        align-items: center;
        span{
            &:last-child{
                font-size: 1rem;
                color: #999;
                font-weight: normal;
                position: relative;
                top: 1.5px;
                left: 18px;
            }

        }
        &:before,
        &:after{
            content: "";
            position: absolute;
            top: 50%;
            right: 30px;
            background: #0080ae;
            transform: translateY(-50%);
            transition: all .3s;
            opacity: 1;
        }
        &:before{
            width: 1px;
            height: 20px;
        }
        &:after{
            width: 20px;
            height: 1px;
            right: 20px;
        }
    }
    &__content{
        display: flex;
        width: 290px;
        margin: 0 auto;
        justify-content: space-between;
        font-size: 1.2rem;
        border: 1px solid #c8c8c8;
        border-bottom: 0;
        align-items: center;
        @include sp{width: 100%;}
        &:nth-child(3){
            .c-box__left{padding: 12px 0 12px 14px;}
        }
        &:nth-child(4){
            .c-box__left{padding: 13px 0 12px 14px;}
        }
        &:last-child{border-bottom: 1px solid #c8c8c8;}
    }
    &__left{
        font-weight: bold;
        background: #fbfbfb;
        width: 130px;
        text-align: left;
        padding: 14px 0 12px 14px;
        border-right: 1px solid #c8c8c8;
    }
    &__right{
        padding: 2px 0 0 14px;
        flex: 1 1 auto;
        text-align: left;
        letter-spacing: -1px;
        @include sp{width: 100%;}
    }
}